<html>
<script>
	var form = document.getElementById("file-form");
	document.getElementById("form-selected").addEventListener("click", function () {
  form.submit();
});
</script>	
<body>
	<h1> Azure Data Lake Store + Azure AD REST AuthN Process </h1>
	<h2> Step 4 </h2>
	
	Here is the File Status JSON for our Azure Data Lake Store <br><br>
	 <br>
	 <table border="1">
		 <tr><th>File #</th><th>File Name</th><th>File Size</th></tr>
     {% for filestatus in filestati %}
	 <tr><td>File # {{ forloop.counter }}</td><td>{{ filestatus.pathSuffix }}</td><td>{{ filestatus.length }}</td></tr>
     {% endfor %}
</ul>
</table>
	<br>
	<br>
	<form id="file-form" action='/adlsauth/step4/' method='POST'>
		{% csrf_token %}
		<label>Click on a file:</label><br/>
		<ul>
     	{% for filestatus in filestati %}
		<li>
		<input type="submit" name="selected-file" value="{{ filestatus.pathSuffix }}">
		</li>
     {% endfor %}
	</form>
</body>
</html>
