<html>
<body>
	<h1> Azure Data Lake Store + Azure AD REST AuthN Process </h1>
	<h2> Step 2 </h2>
	
	Here's the code returned in the previous step: <br><br>
	{{aad_code}} <br><br>
	
	In this step, we'll use it to acquire an access token with rights to execute methods in the Azure Service Management & Azuer Data Lake API. This access token comes from Azure AD by issuing a request to our application's OAuth2 token endpoint: <em>https://login.microsoftonline.com/<client-id>/oauth2/token',</em> <br><br>
		
	<form action='/adlsauth/step2/' method='POST'>
		{% csrf_token %}
		<input name='NextStep' type='submit' value='Next Step -->'/>
	</form>
</body>
</html>
